/* line 6, ../sass/homep.scss */
.banniere .content {
  width: 940px;
  margin: auto;
  font-family: arial;
  color: #545452;
  font-size: 12px;
  height: 35px;
}
/* line 16, ../sass/homep.scss */
.banniere .content nav .prenav {
  block: left;
}
/* line 19, ../sass/homep.scss */
.banniere .content nav .prenav li {
  display: inline-block;
}
/* line 24, ../sass/homep.scss */
.banniere .content nav .prenav li a img {
  height: 29px;
  width: auto;
  border: medium none;
}
/* line 33, ../sass/homep.scss */
.banniere .content nav .prenavleft {
  float: right;
}
/* line 38, ../sass/homep.scss */
.banniere .content nav .prenavleft li span {
  display: inline-block;
  position: relative;
  float: right;
  padding: 0px 10px;
  border-radius: 5px;
  top: 5px;
  line-height: 25px;
  background-color: #cccccc;
  cursor: pointer;
}

/* line 55, ../sass/homep.scss */
.premenu {
  width: 100% !important;
  background: #202020;
  border-bottom: 4px solid #ff4812;
}
/* line 60, ../sass/homep.scss */
.premenu .contenair {
  width: 940px;
  margin: auto;
  font-family: arial;
  color: #545452;
  font-size: 12px;
  height: 35px;
}
/* line 69, ../sass/homep.scss */
.premenu .contenair ul li {
  display: inline-block;
}
/* line 74, ../sass/homep.scss */
.premenu .contenair ul li .LG1 .MG1 {
  float: left;
  width: 145px;
  line-height: 40px;
}

/* line 85, ../sass/homep.scss */
.contenaire {
  width: 100% !important;
  margin: auto;
  height: 54px;
  border-bottom: 1px solid #d7d7d7;
}
/* line 90, ../sass/homep.scss */
.contenaire .PreSleader {
  margin-left: 450px;
}
/* line 93, ../sass/homep.scss */
.contenaire .PreSleader li {
  display: inline-block;
}
/* line 96, ../sass/homep.scss */
.contenaire .PreSleader li a {
  text-decoration: none;
  font-size: 11px;
  color: #202020;
  margin-left: 10px;
}

/* line 106, ../sass/homep.scss */
.contenair {
  width: 940px;
  margin: auto;
  font-family: arial;
  color: #545452;
  font-size: 12px;
  height: 35px;
}
