/* line 4, ../sass/homep.scss */
.container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 11, ../sass/homep.scss */
.container nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  margin-top: 0px;
}
/* line 13, ../sass/homep.scss */
.container nav ul.preNav a {
  text-decoration: none;
}
/* line 22, ../sass/homep.scss */
.container nav ul li {
  display: inline-block;
  inline-block: center;
}
/* line 26, ../sass/homep.scss */
.container nav ul li a {
  text-decoration: none;
  margin: 10px;
  inline-block: center;
}
/* line 36, ../sass/homep.scss */
.container .container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 42, ../sass/homep.scss */
.container .container img {
  max-width: 100%;
  margin: 10px;
}
/* line 47, ../sass/homep.scss */
.container .container .col-2 {
  background-image: url("../img/1.jpeg") no-repeat;
  width: 40%;
  margin-left: 2.333%;
  float: left;
  position: relative;
  z-index: 1;
}
/* line 55, ../sass/homep.scss */
.container .container .col-2:first-child {
  margin-left: 0;
}
/* line 59, ../sass/homep.scss */
.container .container .text {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 67, ../sass/homep.scss */
.container .container .lastText {
  margin-top: 20px;
  display: inline-block;
}
/* line 74, ../sass/homep.scss */
.container .container .Search input {
  margin-top: 2%;
  width: 80%;
}
/* line 79, ../sass/homep.scss */
.container .container .prefooter {
  display: inline-block;
}
/* line 83, ../sass/homep.scss */
.container .container .prefooter .P1 {
  border: 2px ridge black;
  display: inline-block;
  width: 30%;
  margin: 5%;
}
/* line 89, ../sass/homep.scss */
.container .container .prefooter .P1 a {
  text-decoration: none;
}
/* line 94, ../sass/homep.scss */
.container .container .prefooter .P2 {
  border: 2px ridge black;
  width: 30%;
  display: inline-block;
}
/* line 99, ../sass/homep.scss */
.container .container .prefooter .P2 a {
  text-decoration: none;
}
/* line 106, ../sass/homep.scss */
.container .container footer .fotleft {
  float: left;
}
/* line 108, ../sass/homep.scss */
.container .container footer .fotleft li {
  display: inline-block;
}
/* line 110, ../sass/homep.scss */
.container .container footer .fotleft li a {
  text-decoration: none;
}
/* line 115, ../sass/homep.scss */
.container .container footer .fotright {
  float: right;
}
/* line 119, ../sass/homep.scss */
.container .container footer .fotright li a {
  text-decoration: none;
}
